@model eCommerce.Models.DeliveryModel

@{
    ViewBag.Title = "Checkout page";
}
@using (Html.BeginForm("CheckoutPay", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    <h2>Checkout</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.totalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.totalPrice, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled",@Value = ViewBag.totalPrice } })
            @Html.ValidationMessageFor(model => model.totalPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.paymentType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.paymentType, ViewBag.paymentTypes as SelectList, new { @class = "form-control" })
             @Html.ValidationMessageFor(model => model.paymentType, "", new { @class = "text-danger" })
        </div>
    </div>
    <p>Delivery details:</p>
    <div class="form-group">
        @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @type = "textarea" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Checkout" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <label class="label-danger">@ViewBag.DuplicateMessage</label>
        </div>
    </div>
</div>
}
