@model IEnumerable<eCommerce.Models.ProductOrderModel>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    @{
        ViewBag.Title = "Shopping history";
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="fa fa-user fa-lg" aria-hidden="true"> @Session["Username"]</a>
                    </li>
                    <li> @Html.ActionLink("Main page", "../MainPage/MainPage")</li>
                    <li> @Html.ActionLink("Open cart", "../Order/ShoppingCart")</li>
                    <li> @Html.ActionLink("Shopping history", "../Order/History")</li>
                    <li> @Html.ActionLink("Contact form", "../Contact/ContactForm")</li>
                    <li> @Html.ActionLink("Logout", "../User/Logout")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <h2> <i class='fas fa-store-alt'></i> Your shopping history</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.payed)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payed)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "../Detail/ProductDetail", new { id = item.productId }) |
                        @if (item.commentsEnabled == true)
                        {
                            @Html.ActionLink("Write a review", "../Review/AddReview", new { id = item.productId })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
