@model IEnumerable<eCommerce.Models.ProductOrderModel>

@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
<p>
    @Html.ActionLink("Continue shopping", "../MainPage/MainPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.ActionLink("Edit quantity", "EditQuantity", new { product_id = item.productId }) |
            @Html.ActionLink("Remove", "RemoveFromCart", new { product_id = item.productId  })
        </td>
    </tr>
}

</table>
<input type="button" value="Checkout" onclick="location.href='@Url.Action("Checkout", "Order")'" />
