@{
    ViewBag.Title = "MainPageAdmin";
}

<h2>Admin page</h2>
<div>
    @Html.ActionLink("Global main page", "../MainPage/MainPage")
</div>
<h3>Products</h3>
<div>
    @Html.ActionLink("Create a product", "../CreateProduct/CreateProduct")
</div>
<div>
    @Html.ActionLink("View all products", "../MainPage/AllProducts")
</div>
<h3>Comments</h3>
<div>
    @Html.ActionLink("View all comments", "../Comment/AllComments")
</div>
<h3>Deliveries</h3>
<div>
    @Html.ActionLink("View all deliveries", "../Delivery/AllDeliveries")
</div>
<h3>Users</h3>
<div>
    @Html.ActionLink("View all users", "../User/AllUsers")
</div>
