@model IEnumerable<eCommerce.BLL.DTO.UserDTO>

@{
    ViewBag.Title = "AllUsers";
}

<h2>All users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new {  id=item.userId}) |
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.userId })
        </td>
    </tr>
}

</table>
